/* Insertion d'une image en fond d'écran */
body {
  background-image: url("wallpaperPercussions.jpg");
  background-size: cover;
}

/* Définition de l'aspect visuel des neuf blocks correspondant à des percussions */
.blocks {
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-width: 3px;
  width: 9%;
  border-radius: 20px;
}
.touchesPercussions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Définition de l'aspect des lettres "A, S, D..." */
p.grandesLettres {
  font-size: 250%;
}

/* Définition de la couleur du titre */
h1 {
  color: #0066ff;
}
