/* On indique la police ainsi que la couleur de l'ecriture */
html {
  color: white;
  font-family: Courier New;
}

/* On determine la police et la couleur du titre
On ajoute aussi une ligne blanche de 5px sous le titre  */
#titre1 {
  text-align: center;
  font-family: Courier New;
  font-weight: bolder;
  color: white;
  border-bottom: 5px solid white;
}

/* On affiche le texte associé a la "class="incorrect"" en rouge  */
.incorrect {
  color:red;
  display:none;
}

/* On affiche le texte associé a la "class="correct"" en vert  */
.correct {
  color:green;
  display:none;
}

/* On insere une image de fond */
body{
  background-image: url("disque.png");
  background-size: cover;
}

/* On affiche le texte associé a la "class="question"" en gras  */
.question {
  font-weight: bold;
}
